<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width, intial-scale=1.0" />
    <title>Captain's Log</title>
    <link href="/css/style.css" rel="stylesheet" />
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  {{! <body class="bg-plane-blue"> }}
  <body>
    {{{body}}}
  </body>
</html>