
<div class="container">
    <div class="header">

    </div>
    <div class="wrapper">
        <form>
            <label class="block text-gray-300">Date of Flight<label>
            <input type="date" placeholder="" id="dateOfFlight" class="border w-24 h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md">
            
        </form>
    </div>
</div>








<!--
    “aircraft_id”:“1", - From drop down list
        //      “dual”:“false”, - check box
        //      “instructor_name”: “null”, input box
        //      “departure_airport”: YSSY, input box
        //      “departure_time”:“08:00”, formatted input box
        //      “arrival_airport”:“YMER”
        //      “arrival_time”:“11:30”,
        //      “approaches”:“1”,
        //      “landings”:“1”,
        //      “comments”:“very noisy passengers”
        //      “total_intrument_time”: “1.5” - input box
        //      “total_time” : “2.0” - input box
                                                    -->