<div class="bg-plane-blue"> 
    <div class="min-h-screen text-gray-800 antialiased px-4 py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-xl mx-auto text-center">
                <span class="text-3xl font-bold text-gray-800">Forgot password?</span>
                <div class="relative mt-4 bg-white shadow-md sm:rounded-lg text-left">
                    <div class="h-2 bg-blue-600 rounded-t-md"></div>
                    <div class="py-6 px-8">
                        <label class="block font-semibold">Email<label>
                        <input value="pilotlogapp@outlook.com" type="email" placeholder="Email" id="user_email" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md">
                        <label class="block mt-3 font-semibold">License number<label>
                        <input value="776750" type="number" placeholder="License number" id="license_number" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md">
                        <div class="flex justify-between items-baseline">
                        <button type="submit" id="submit" class="mt-4 bg-indigo-500 text-white py-2 px-6 rounded-lg">Submit</button>
                        <br> 
                        <a href="/"class="text-sm hover:underline">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src= "/javascript/forgotPSWD.js"></script>